.postsContainer {
    margin: 10px;
    margin-bottom: 30px;
    display: grid;
   grid-template-rows: auto auto auto; 
   grid-template-columns: 65px auto;
   grid-template-areas: 'avatar userName'
                        'postText postText'
                        'likesCount .'; 
}
.postsContainer img {
    width: 40px;
    border-radius: 50%;
}
.avatar {
    grid-area: avatar;
    
}
.userName {
    grid-area: userName;
    margin-left: -10px;
    font-weight: bold;
}
.postText {
    grid-area: postText;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}
.likesCount {
    grid-area: likesCount;
    font-weight: bold;
    color: #201140;
}