.nav {
    grid-area: n;
    background-color:#c7c3d9;
    padding: 20px;
    padding-left: 15px;
    
  }
  .item a {
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
  }
  .item a.active {
    color: #3e2a8c;
  }
  