.error {
    color: red;
}
.formControl  {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.formControl select {
    width: 20%;
}
.formControl textarea {
    width: 20%;
}
.formControl input {
    width: 20%;
}
.alert{
    border-color: red;
}
